# Data from google drive

In [0]:
!pip install --upgrade -q gspread


from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

# Open our new sheet and read some data.
worksheet = gc.open('Churn_Modelling').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

In [9]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
dataset = pd.DataFrame.from_records(rows[1:], columns=[rows[0]])
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.8,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.1,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0,2,1,1,10062.8,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.5,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,15587133,Thompson,518,France,Male,42,7,151027.05,2,1,0,119377.36,0
9971,9972,15721377,Chou,833,France,Female,34,3,144751.81,1,0,0,166472.81,0
9972,9973,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1,0,171552.02,0
9973,9974,15806455,Miller,611,France,Male,27,7,0,2,1,1,157474.1,0
9974,9975,15695474,Barker,583,France,Male,33,7,122531.86,1,1,0,13549.24,0
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9976,9977,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1,0,84419.78,0
9977,9978,15579969,Mancini,683,France,Female,32,9,0,2,1,1,24991.92,0
9978,9979,15703563,P'eng,774,France,Male,40,9,93017.47,2,1,0,191608.97,0
9979,9980,15692664,Diribe,677,France,Female,58,1,90022.85,1,0,1,2988.28,0
9980,9981,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.7,1,1,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.4,1
9983,9984,15656710,Cocci,613,France,Male,40,4,0,1,0,0,151325.24,0
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9985,9986,15586914,Nepean,659,France,Male,36,6,123841.49,2,1,0,96833,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9987,9988,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0
9988,9989,15589329,Pirozzi,775,France,Male,30,4,0,2,1,0,49337.84,0
9989,9990,15605622,McMillan,841,Spain,Male,28,4,0,2,1,1,179436.6,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.6,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0,1,1,0,195192.4,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

#Data Preprocessing

In [7]:
for i in dataset:
    if i[0] != 'Surname' and i[0] != 'Geography' and i[0] != "Gender":
    dataset[i] = dataset[i].astype('float')

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [0]:
# Importing the dataset
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values.astype('int')

# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size = 0.2, 
                                                    random_state = 0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
print(X_train.shape)

# ANN

In [0]:
# import keras library
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [0]:
# initializing ANN
model = Sequential()

# adding input layer and the first hidden layer with dropout
model.add(Dense(units = 6, 
                activation = 'relu', 
                kernel_initializer='uniform', 
                input_dim = 11))
model.add(Dropout(rate = 0.1))

# adding second hidden layer
model.add(Dense(units = 6, activation = 'relu', kernel_initializer='uniform'))
model.add(Dropout(rate = 0.1))

# adding output layer
model.add(Dense(units = 1, activation = 'sigmoid', kernel_initializer='uniform'))

In [0]:
# compilling ANN
model.compile(optimizer = 'adam', 
              loss = 'binary_crossentropy', 
              metrics=['accuracy'])

In [12]:
# fitting the ANN to training set
model.fit(X_train, y_train, epochs = 100, batch_size = 10)

Epoch 1/100
8000/8000 [==============================] - 6s 776us/step - loss: 0.4912 - acc: 0.7952
Epoch 2/100
8000/8000 [==============================] - 5s 639us/step - loss: 0.4369 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 5s 634us/step - loss: 0.4289 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 5s 634us/step - loss: 0.4299 - acc: 0.7960
Epoch 5/100
8000/8000 [==============================] - 5s 638us/step - loss: 0.4265 - acc: 0.8081
Epoch 6/100
8000/8000 [==============================] - 5s 635us/step - loss: 0.4271 - acc: 0.8241
Epoch 7/100
8000/8000 [==============================] - 5s 642us/step - loss: 0.4260 - acc: 0.8234
Epoch 8/100
8000/8000 [==============================] - 5s 662us/step - loss: 0.4251 - acc: 0.8257
Epoch 9/100
8000/8000 [==============================] - 5s 659us/step - loss: 0.4271 - acc: 0.8274
Epoch 10/100
8000/8000 [==============================] - 5s 669us/step - loss: 0.4255 - acc: 0.8277
Epoch 11/100
8000/8000 [==============================] - 5s 641us/step - loss: 0.4284 - acc: 0.8264
Epoch 12/100
8000/8000 [==============================] - 5s 635us/step - loss: 0.4232 - acc: 0.8297
Epoch 13/100
8000/8000 [==============================] - 5s 642us/step - loss: 0.4253 - acc: 0.8277
Epoch 14/100
8000/8000 [==============================] - 5s 644us/step - loss: 0.4246 - acc: 0.8309
Epoch 15/100
8000/8000 [==============================] - 5s 635us/step - loss: 0.4244 - acc: 0.8294
Epoch 16/100
8000/8000 [==============================] - 5s 647us/step - loss: 0.4249 - acc: 0.8280
Epoch 17/100
8000/8000 [==============================] - 5s 643us/step - loss: 0.4255 - acc: 0.8307
Epoch 18/100
8000/8000 [==============================] - 5s 646us/step - loss: 0.4242 - acc: 0.8294
Epoch 19/100
8000/8000 [==============================] - 5s 639us/step - loss: 0.4249 - acc: 0.8307
Epoch 20/100
8000/8000 [==============================] - 5s 639us/step - loss: 0.4256 - acc: 0.8311
Epoch 21/100
8000/8000 [==============================] - 5s 635us/step - loss: 0.4227 - acc: 0.8292
Epoch 22/100
8000/8000 [==============================] - 5s 642us/step - loss: 0.4255 - acc: 0.8287
Epoch 23/100
8000/8000 [==============================] - 5s 641us/step - loss: 0.4268 - acc: 0.8344
Epoch 24/100
8000/8000 [==============================] - 5s 648us/step - loss: 0.4233 - acc: 0.8291
Epoch 25/100
8000/8000 [==============================] - 5s 648us/step - loss: 0.4235 - acc: 0.8304
Epoch 26/100
8000/8000 [==============================] - 5s 646us/step - loss: 0.4259 - acc: 0.8310
Epoch 27/100
8000/8000 [==============================] - 5s 635us/step - loss: 0.4224 - acc: 0.8321
Epoch 28/100
8000/8000 [==============================] - 5s 640us/step - loss: 0.4261 - acc: 0.8301
Epoch 29/100
8000/8000 [==============================] - 5s 636us/step - loss: 0.4232 - acc: 0.8309
Epoch 30/100
8000/8000 [==============================] - 5s 646us/step - loss: 0.4221 - acc: 0.8316
Epoch 31/100
8000/8000 [==============================] - 5s 637us/step - loss: 0.4233 - acc: 0.8305
Epoch 32/100
8000/8000 [==============================] - 5s 633us/step - loss: 0.4230 - acc: 0.8322
Epoch 33/100
8000/8000 [==============================] - 5s 636us/step - loss: 0.4241 - acc: 0.8309
Epoch 34/100
8000/8000 [==============================] - 5s 633us/step - loss: 0.4236 - acc: 0.8305
Epoch 35/100
8000/8000 [==============================] - 5s 637us/step - loss: 0.4218 - acc: 0.8314
Epoch 36/100
8000/8000 [==============================] - 5s 634us/step - loss: 0.4211 - acc: 0.8300
Epoch 37/100
8000/8000 [==============================] - 5s 633us/step - loss: 0.4221 - acc: 0.8315
Epoch 38/100
8000/8000 [==============================] - 5s 629us/step - loss: 0.4204 - acc: 0.8329
Epoch 39/100
8000/8000 [==============================] - 5s 628us/step - loss: 0.4243 - acc: 0.8327
Epoch 40/100
8000/8000 [==============================] - 5s 633us/step - loss: 0.4191 - acc: 0.8332
Epoch 41/100
8000/8000 [==============================] - 5s 649us/step - loss: 0.4225 - acc: 0.8289
Epoch 42/100
8000/8000 [==============================] - 5s 646us/step - loss: 0.4215 - acc: 0.8319
Epoch 43/100
8000/8000 [==============================] - 5s 641us/step - loss: 0.4245 - acc: 0.8331
Epoch 44/100
8000/8000 [==============================] - 5s 637us/step - loss: 0.4220 - acc: 0.8312
Epoch 45/100
8000/8000 [==============================] - 5s 627us/step - loss: 0.4240 - acc: 0.8314
Epoch 46/100
8000/8000 [==============================] - 5s 637us/step - loss: 0.4258 - acc: 0.8321
Epoch 47/100
8000/8000 [==============================] - 5s 632us/step - loss: 0.4229 - acc: 0.8302
Epoch 48/100
8000/8000 [==============================] - 5s 641us/step - loss: 0.4223 - acc: 0.8339
Epoch 49/100
8000/8000 [==============================] - 5s 633us/step - loss: 0.4231 - acc: 0.8340
Epoch 50/100
8000/8000 [==============================] - 5s 631us/step - loss: 0.4229 - acc: 0.8336
Epoch 51/100
8000/8000 [==============================] - 5s 631us/step - loss: 0.4258 - acc: 0.8325
Epoch 52/100
8000/8000 [==============================] - 5s 642us/step - loss: 0.4226 - acc: 0.8322
Epoch 53/100
8000/8000 [==============================] - 5s 636us/step - loss: 0.4210 - acc: 0.8316
Epoch 54/100
8000/8000 [==============================] - 5s 646us/step - loss: 0.4230 - acc: 0.8306
Epoch 55/100
8000/8000 [==============================] - 5s 641us/step - loss: 0.4211 - acc: 0.8336
Epoch 56/100
8000/8000 [==============================] - 5s 659us/step - loss: 0.4241 - acc: 0.8325
Epoch 57/100
8000/8000 [==============================] - 5s 652us/step - loss: 0.4215 - acc: 0.8337
Epoch 58/100
8000/8000 [==============================] - 5s 645us/step - loss: 0.4224 - acc: 0.8327
Epoch 59/100
8000/8000 [==============================] - 5s 638us/step - loss: 0.4245 - acc: 0.8322
Epoch 60/100
8000/8000 [==============================] - 5s 640us/step - loss: 0.4195 - acc: 0.8336
Epoch 61/100
8000/8000 [==============================] - 5s 645us/step - loss: 0.4224 - acc: 0.8339
Epoch 62/100
8000/8000 [==============================] - 5s 640us/step - loss: 0.4257 - acc: 0.8311
Epoch 63/100
8000/8000 [==============================] - 5s 647us/step - loss: 0.4220 - acc: 0.8316
Epoch 64/100
8000/8000 [==============================] - 5s 642us/step - loss: 0.4241 - acc: 0.8327
Epoch 65/100
8000/8000 [==============================] - 5s 637us/step - loss: 0.4237 - acc: 0.8346
Epoch 66/100
8000/8000 [==============================] - 5s 631us/step - loss: 0.4235 - acc: 0.8310
Epoch 67/100
8000/8000 [==============================] - 5s 637us/step - loss: 0.4207 - acc: 0.8321
Epoch 68/100
8000/8000 [==============================] - 5s 642us/step - loss: 0.4200 - acc: 0.8327
Epoch 69/100
8000/8000 [==============================] - 5s 658us/step - loss: 0.4216 - acc: 0.8310
Epoch 70/100
8000/8000 [==============================] - 5s 666us/step - loss: 0.4245 - acc: 0.8317
Epoch 71/100
8000/8000 [==============================] - 5s 666us/step - loss: 0.4231 - acc: 0.8346
Epoch 72/100
8000/8000 [==============================] - 5s 634us/step - loss: 0.4220 - acc: 0.8336
Epoch 73/100
8000/8000 [==============================] - 5s 644us/step - loss: 0.4207 - acc: 0.8325
Epoch 74/100
8000/8000 [==============================] - 5s 640us/step - loss: 0.4215 - acc: 0.8335
Epoch 75/100
8000/8000 [==============================] - 5s 645us/step - loss: 0.4206 - acc: 0.8335
Epoch 76/100
8000/8000 [==============================] - 5s 643us/step - loss: 0.4224 - acc: 0.8345
Epoch 77/100
8000/8000 [==============================] - 5s 641us/step - loss: 0.4222 - acc: 0.8337
Epoch 78/100
8000/8000 [==============================] - 5s 634us/step - loss: 0.4210 - acc: 0.8330
Epoch 79/100
8000/8000 [==============================] - 5s 635us/step - loss: 0.4198 - acc: 0.8326
Epoch 80/100
8000/8000 [==============================] - 5s 632us/step - loss: 0.4230 - acc: 0.8344
Epoch 81/100
8000/8000 [==============================] - 5s 634us/step - loss: 0.4232 - acc: 0.8325
Epoch 82/100
8000/8000 [==============================] - 5s 639us/step - loss: 0.4217 - acc: 0.8325
Epoch 83/100
8000/8000 [==============================] - 5s 636us/step - loss: 0.4216 - acc: 0.8325
Epoch 84/100
8000/8000 [==============================] - 5s 642us/step - loss: 0.4220 - acc: 0.8329
Epoch 85/100
8000/8000 [==============================] - 5s 643us/step - loss: 0.4223 - acc: 0.8337
Epoch 86/100
8000/8000 [==============================] - 5s 636us/step - loss: 0.4210 - acc: 0.8335
Epoch 87/100
8000/8000 [==============================] - 5s 632us/step - loss: 0.4222 - acc: 0.8337
Epoch 88/100
8000/8000 [==============================] - 5s 642us/step - loss: 0.4214 - acc: 0.8332
Epoch 89/100
8000/8000 [==============================] - 5s 639us/step - loss: 0.4214 - acc: 0.8340
Epoch 90/100
8000/8000 [==============================] - 5s 632us/step - loss: 0.4200 - acc: 0.8325
Epoch 91/100
8000/8000 [==============================] - 5s 633us/step - loss: 0.4207 - acc: 0.8320
Epoch 92/100
8000/8000 [==============================] - 5s 632us/step - loss: 0.4199 - acc: 0.8350
Epoch 93/100
8000/8000 [==============================] - 5s 645us/step - loss: 0.4240 - acc: 0.8332
Epoch 94/100
8000/8000 [==============================] - 5s 631us/step - loss: 0.4192 - acc: 0.8339
Epoch 95/100
8000/8000 [==============================] - 5s 634us/step - loss: 0.4231 - acc: 0.8319
Epoch 96/100
8000/8000 [==============================] - 5s 641us/step - loss: 0.4212 - acc: 0.8346
Epoch 97/100
8000/8000 [==============================] - 5s 638us/step - loss: 0.4207 - acc: 0.8344
Epoch 98/100
8000/8000 [==============================] - 5s 639us/step - loss: 0.4229 - acc: 0.8331
Epoch 99/100
8000/8000 [==============================] - 5s 647us/step - loss: 0.4225 - acc: 0.8357
Epoch 100/100
8000/8000 [==============================] - 5s 651us/step - loss: 0.4223 - acc: 0.8352

In [0]:
# predicting results
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

In [14]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[1563,   32],
       [ 288,  117]])

In [15]:
(1563 + 117)/2000

0.84

In [16]:
new_prediction = model.predict(sc.transform(np.array([[0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [17]:
new_prediction = new_prediction > 0.5
new_prediction

array([[False]])

# Evaluating, Improving and Tuning the ANN

In [0]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV
# from sklearn.model_selection import cross_val_score


def build_classifier(optimizer):
    model = Sequential()
    model.add(Dense(units = 6, 
                  activation = 'relu', 
                  kernel_initializer='uniform', 
                  input_dim = 11))
    model.add(Dense(units = 6, activation = 'relu', kernel_initializer='uniform'))
    model.add(Dense(units = 1, activation = 'sigmoid', kernel_initializer='uniform'))
    model.compile(optimizer = optimizer, loss = 'binary_crossentropy', metrics=['accuracy'])
    return model
classifier = KerasClassifier(build_fn = build_classifier, batch_size = 10, epochs = 100)
# accureces = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
mean = accureces.mean()
varience = accureces.std()

parameters = {'batch_size': [16, 24, 32],
             'epochs': [100, 500],
             'optimizer': ['adam', 'rmsprop']}
grid = GridSearchCV(estimator = classifier, 
                    param_grid = parameters, 
                    scoring = 'accuracy', 
                    cv = 10)

grid = grid.fit(X_train, y_train)
best_params = grid.best_params_
best_accuracy = grid.best_score_